
body{
	
	background-color:  #165a72;
	color: white; /*Font color*/
}

.profile_top{
	
	padding: 120px;
	font-size: 35px;
	background-image: url("../Images/v_owner background.jpg");
	background-size: cover;
	opacity: 0.4;
	text-align: left;
}

p{
	font-size : 20px;
}
/*Referred from Labsheet	*/
#pofile_image{
	border-radius: 50%;
	float:right;
	width :300px;
	 height: 300px;
	position:relative;
	left:-65px;
	top:-30px;
}	

/*Setting table color and boarder*/	
th, td {
	border: 1px solid white;
	background-color: #96D4D4;
}	
	
/*Adding CSS to buttons*/
.logout{
	
	background-color: #32cad7;
	padding: 10px;
	border-radius:6px;
}

.addmore{
	
	background-color: #00FAFF;
	padding: 10px;
	border-radius:6px;
}
/*select elements when you mouse over them*/
.addmore:hover{
	
	box-shadow:  0 0 50px #00FAFF; /*display shadow box when mouse is over it*/
}
